# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask instance folder
instance/

# Virtual environment
venv/
.env

# Pytest
.cache
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# macOS specific
.DS_Store

# others
test.ipynb
test.py
Dockerfile
copilot