[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
openai = "*"
python-dotenv = "*"
pandas = "*"
pymongo = {extras = ["srv"], version = "*"}
mergepythonclient = "*"
requests = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
