[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-cors = "*"
openai = "*"
python-dotenv = "*"
pandas = "*"
pymongo = "*"
mergepythonclient = "*"
requests = "*"
numpy = "*"
gunicorn = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.11"
